<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <title>Open Healthcare Data</title>
</head>
<body>
  <%- include("header", {buttonVisibility:true, signoutVisibility:false})%>
  <div class="flex flex-col justify-center items-center">
    <img class="w-2/6" src="./19777.jpg" alt="">
    <a class="px-5 py-2 rounded-xl hover:bg-studio-800 bg-studio-500 text-white" href="/hospitalpanel">Hospital Panel</a>
  </div>
</body>
</html>